html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

body,
button,
input {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

code,
pre {
  font-family: 'Fira Code', 'Courier New', Courier, monospace;
}

a,
a:visited {
  color: #0066cc;
}

@media print {
  @page {
    size: A4 portrait;
    margin: 0.7cm;
  }

  html {
    height: 99%;
    font-size: 0.34cm;
  }
}
